<div class="content-side main-content">
  <form class="room-form control-form side-padding">
    <div class="control-group inline">
      <q-select v-model="select" :options="selectOptions"></q-select>
    </div>
    <div class="control-group inline">
      <q-input v-model="text"/>
    </div>
    <button class="btn flat">Search</button>
    <div class="grid no-padding">
      <list-room v-for="(room, index) in listRooms" :room="room" :key="index"></list-room>
    </div>
    <div class="btn-group">
      <button class="btn raise btn-negative">Xóa Hết</button>
    </div>
  </form>
  <md-dialog md-open-from="#custom" md-close-to="#custom" class="customDialog" ref="addRoom">
    <md-dialog-title>Thời giá</md-dialog-title>
    <md-dialog-content>
      <div class="scrollable-content">
        <div class="control-group">
          <q-uploader :url="url" extensions=".gif,.jpg,.jpeg,.png" false />
        </div>
        <div class="control-group single-line">
          <q-input v-model="roomName" float-label="Tên phòng"/>
        </div>
        <div class="control-group single-line">
          <q-input v-model="roomKind" float-label="Loại phòng"/>
        </div>
        <div class="control-group single-line">
          <q-chips-input name="facility" v-model="roomFacilities" float-label="Tiện ích(Không bắt buộc)" />
        </div>
        <div class="control-group">
          <label class="label">Chi tiết</label>
          <Ckeditor :content="content" :id="id"/>
        </div>
        <div class="control-group single-line">
          <q-input v-model="roomPrice" float-label="Giá" suffix="VNĐ" type="number"/>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button class="md-primary" @click="closeDialog('addRoom')">Cancel</md-button>
      <md-button class="md-primary" @click="closeDialog('addRoom')">Ok</md-button>
    </md-dialog-actions>
  </md-dialog>
  <button id="custom" class="default-action" @click="openDialog('addRoom')"></button>
  <div class="clearfix"></div>
</div>