<div class="content-side main-content">
  <form class="room-form control-form side-padding">
    <div class="control-group inline">
      <q-select v-model="select" :options="selectOptions"></q-select>
    </div>
    <div class="control-group inline">
      <q-input v-model="text"/>
    </div>
    <button class="btn flat">Search</button>
    <div class="grid no-padding">
      <list-room v-for="(room, index) in listRooms" :room="room" :key="index"></list-room>
    </div>
    <div class="btn-group">
      <button class="btn raise btn-negative">Xóa Hết</button>
    </div>
  </form>
  <button class="default-action" onclick="show('#add-room')"></button>
  <div class="clearfix"></div>
</div>