<main class="dash-board">
  <div class="block">
    <div class="block-container">
      <div class="block-content">
        <div class=" tabs active">
          <div class="title"><span>Top blog</span><span class="btn fa fa-chevron-circle-right pull-right"></span></div>
          <div class="content">
            <table class="truntcase">
              <thead>
                <tr>
                  <td style="width:6%;">ID</td>
                  <td style="width:44%;">Tên</td>
                  <td style="width:25%;">Lần thay đổi <br/> cuối cùng</td>
                  <td style="width:25%;">Người thay đổi</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Vũng Tàu - Miền Đất hứa</td>
                  <td>11/09/2017 11:15</td>
                  <td>lhthanh</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Tại sao phải đến Đà Nẵng</td>
                  <td>12/10/2017 12:15</td>
                  <td>ttlam</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Phú Quốc - Ngọc đảo VN</td>
                  <td>12/10/2017 12:15</td>
                  <td>tvlong</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Vũng Tàu - Miền Đất hứa</td>
                  <td>11/09/2017 11:15</td>
                  <td>lhthanh</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Tại sao phải đến Đà Nẵng</td>
                  <td>12/10/2017 12:15</td>
                  <td>ttlam</td>
                </tr>
              </tbody>
            </table>
            <div class="table-footer">
              <p class="page-info">5 trong 10 blogs</p>
              <ul class="pages">
                <li><a class="active">1</a></li>
                <li><a>2</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class=" tabs">
          <div class="title"><span class="">Top event</span><span class="btn fa fa-chevron-circle-left pull-right"></span></div>
          <div class="content">
            <table class="truntcase">
              <thead>
                <tr>
                  <td style="width:6%;">ID</td>
                  <td style="width:44%;">Tên</td>
                  <td style="width:25%;">Lần thay đổi <br/> cuối cùng</td>
                  <td style="width:25%;">Người thay đổi</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>KS Mai vàng giảm 50%</td>
                  <td>11/09/2017 11:15</td>
                  <td>lhthanh</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Phong đôi giá đơn tại VinHotel</td>
                  <td>12/10/2017 12:15</td>
                  <td>ttlam</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Ưu đãi lớn, giảm đến 80% giá thuê phòng. Bỏ lỡ dịp này bạn sẽ tiếc nuối. rất nhiều.</td>
                  <td>12/10/2017 12:15</td>
                  <td>tvlong</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Phong đôi giá đơn tại VinHotel</td>
                  <td>12/10/2017 12:15</td>
                  <td>ttlam</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Ưu đãi lớn, giảm đến 80% giá thuê phòng. Bỏ lỡ dịp này bạn sẽ tiếc nuối. rất nhiều.</td>
                  <td>12/10/2017 12:15</td>
                  <td>tvlong</td>
                </tr>
              </tbody>
            </table>
            <div class="table-footer">
              <p class="page-info">5 trong 10 blogs</p>
              <ul class="pages">
                <li><a class="active">1</a></li>
                <li><a>2</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-container">
      <div class="block-content">
        <div class="title">Khách sạn</div>
        <div class="content">
          <table class="truntcase">
            <thead>
              <tr>
                <td style="width:6%;">ID</td>
                <td style="width:24%;">Tên</td>
                <td style="width:20%;">Địa chỉ</td>
                <td style="width:25%;">Lần thay đổi <br/> cuối cùng</td>
                <td style="width:25%;">Người thay đổi</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Sao Mai Vàng</td>
                <td>Vũng Tàu</td>
                <td>11/09/2017 11:15</td>
                <td>lhthanh</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Cỏ xanh</td>
                <td>TPHCM</td>
                <td>12/10/2017 12:15</td>
                <td>ttlam</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Green House</td>
                <td>Đà Nẵng</td>
                <td>12/10/2017 12:15</td>
                <td>tvlong</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Green House</td>
                <td>Đà Nẵng</td>
                <td>12/10/2017 12:15</td>
                <td>tvlong</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Green House</td>
                <td>Đà Nẵng</td>
                <td>12/10/2017 12:15</td>
                <td>tvlong</td>
              </tr>
            </tbody>
          </table>
          <div class="table-footer">
            <p class="page-info">5 trong 10 blogs</p>
            <ul class="pages">
              <li><a class="active">1</a></li>
              <li><a>2</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block-container">
      <div class="block-content">
        <div class="title">Khách hàng</div>
        <div class="content">
          <table class="truntcase">
            <thead>
              <tr>
                <td style="width:6%;">ID</td>
                <td style="width:24%;">Họ Tên</td>
                <td style="width:20%;">SĐT</td>
                <td style="width:25%;">Email</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>4</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>5</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>6</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>7</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>8</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
              <tr>
                <td>10</td>
                <td>Nguyễn Văn B</td>
                <td>0164458456</td>
                <td>vnb@gmail.com</td>
              </tr>
            </tbody>
          </table>
          <div class="table-footer">
            <p class="page-info">10 trong 100 blogs</p>
            <ul class="pages">
              <li><a class="active">1</a></li>
              <li><a>2</a></li>
              <li><a>3</a></li>
              <li><a>4</a></li>
              <li><a>5</a></li>
              <li><a>6</a></li>
              <li><a>7</a></li>
              <li><a>8</a></li>
              <li><a>9</a></li>
              <li><a>10</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>