#add-modal(role="dialog", tabindex="-1", aria-hidden="true").modal.fade.add-modal
  .modal-dialog
    .modal-content
      .modal-header
        +button({attr: {'data-dismiss': 'modal', 'aria-label': 'Close', class: 'close'}})
          span(aria-hidden="true") &times;
        h4.modal-title Ajouter un service
      .modal-body
        form(action="#", method="post").form-horizontal
          +frm-group-2({label: {text: 'Service nom *'}, type: 0, input: {name: 'nom'}})
          +frm-group-2({label: {text: 'Client nom *'}, type: 1, select: {name: 'client-nom', opts:[{value: '1', text: 'option-1'}, {value: '2', text: 'option-2'}, {value: '3', text: 'option-3'},{value: '4', text: 'option-4'},{value: '5', text: 'option-6'}]}})
          +frm-group-2({label: {text: 'Client Site nom *'}, type: 1, select: {name: 'client-site-nom', opts:[{value: '1', text: 'option-1'}, {value: '2', text: 'option-2'}, {value: '3', text: 'option-3'},{value: '4', text: 'option-4'},{value: '5', text: 'option-6'}]}})
      .modal-footer
        +button({attr: {'data-dismiss': 'modal', class: 'btn btn-danger'}, text: 'Près'})
        +button({text: 'Sauvegarder les changements'}).btn.btn-success
