header#header
  nav(class="navigation")
    -if(breadcrumbItems) {
      ol.breadcrumb.text-uppercase
        li.active
          -for(var i = 0, len = breadcrumbItems.length; i < len; i++) {
            +link(breadcrumbItems[i].text)
          -}
    -}
    -if(hasMenu) {
      ul.nav.nav-pills
        +subMenu([
          {text: 'Menu',submenu: [{text: 'Contact'}, {text: 'Faq'}, {text: 'Support'}, {text: 'Déconnexion'}]}, 
          {text: 'Perametres', submenu: [{text: 'Gérer les options'}, {text: 'Gérer client'}, {text: 'Gérer client-site'}, {text: 'Gérer les utilisateurs'}, {text: 'Gérer les utilisateurs'}, {text: 'Gérer mission'}, {text: 'Attribuer l\'utilisateur - mission'}]}, 
          {text: 'Sites', submenu: [{text: 'Liste des sites'}, {text: 'Gérer les sites'}]}, 
          {text: 'Agents', submenu: [{text: 'Liste des utilisateurs'}, {text: 'Gérer les utilisateurs'}]}, 
          {text: 'Smartphone', submenu: [{text: 'Synchronizer'}, {text: 'Liste historique de synchronisation'}]}, 
          {text: 'Reportings', submenu: [{text: 'Reporting par période'}, {text: 'Reporting par agent'}, {text: 'Reporting par site'}]},
          {text: 'Plantfiication'}
          ], 0)
    -}
