include mixins/all
.modal.fade#lieu-modal(data-login-modal="", data-address="#lieu-modal")
  .modal-dialog
    .modal-content
      .modal-header
        .row
          h4.modal-title Voir lieus
        .row.margin-1
          a(href="#", data-edit-modal='{"link": "popup-add.html", "popup": "#add-modal"}').btn.btn-danger.pull-left Add New
      .modal-body
        .table-responsive
          table(class="table")
            thead
              tr
                th
                th Nom de la lieu
                th Société
                th
            tbody(data-body-info="")
              tr(data-item-info="", data-info-default="")
                td(data-id="") 1
                td(data-nom="") Lieu 00
                td CORP.
                td
                  .btn-group
                    button(type="button",class="btn btn-warning dropdown-toggle",data-toggle="dropdown") Action&nbsp;
                      span(class="caret")
                    ul(class="dropdown-menu")
                      li
                        a(href="#", data-edit-modal='{"link": "popup-edit.html", "popup": "#edit-modal"}') Action
                      li
                        a(href="#", data-ajax-delete-info='{"link": "json/delete-info.json", "combobox": "#input-2", "type": "internal"}', data-ajax-comfirm-delete='{"link": "alert-popup.html", "id":"#confirm-delete-info", "type":"internal"}') Action1
                      li
                        a(href="#") Action3
                td
              tr(data-item-info="")
                td(data-id="") 2
                td(data-name="") Table cell1b
                td 123 ABCD - Ho Chi Minh city
                td
                  .btn-group
                    button(type="button",class="btn btn-warning dropdown-toggle",data-toggle="dropdown") Action&nbsp;
                      span(class="caret")
                    ul(class="dropdown-menu")
                      li
                        a(href="#", data-show-login-modal="#login-modal") Action
                      li
                        a(href="#", data-ajax-delete-info='{"link": "json/delete-info.json", "combobox": "#input-2", "type":"internal"}', data-ajax-comfirm-delete='{"link": "alert-popup.html", "id":"#confirm-delete-info", "type":"internal"}') Action1
                      li
                        a(href="#") Action3
                td
              tr(data-item-info="")
                td(data-id="") 3
                td(data-name="") Table cell1c
                td 123 ABCD - Ho Chi Minh city
                td
                  .btn-group
                    button(type="button",class="btn btn-warning dropdown-toggle",data-toggle="dropdown") Action&nbsp;
                      span(class="caret")
                    ul(class="dropdown-menu")
                      li
                        a(href="#", data-show-login-modal="#login-modal") Action
                      li
                        a(href="#", data-ajax-delete-info='{"link": "json/delete-info.json", "combobox": "#input-2", "type":"internal"}', data-ajax-comfirm-delete='{"link": "alert-popup.html", "id":"#confirm-delete-info", "type":"internal"}') Action1
                      li
                        a(href="#") Action3
                td
              tr(data-item-info="")
                td(data-id="") 4
                td(data-name="") Table cell1d
                td 123 ABCD - Ho Chi Minh city
                td
                  .btn-group
                    button(type="button",class="btn btn-warning dropdown-toggle",data-toggle="dropdown") Action&nbsp;
                      span(class="caret")
                    ul(class="dropdown-menu")
                      li
                        a(href="#", data-show-login-modal="#login-modal") Action
                      li
                        a(href="#", data-ajax-delete-info='{"link": "json/delete-info.json", "combobox": "#input-2", "type":"internal"}', data-ajax-comfirm-delete='{"link": "alert-popup.html", "id":"#confirm-delete-info", "type":"internal"}') Action1
                      li
                        a(href="#") Action3
                td
              tr(data-item-info="")
                td(data-id="") 5
                td(data-name="") Table cell1e
                td 123 ABCD - Ho Chi Minh city
                td
                  .btn-group
                    button(type="button",class="btn btn-warning dropdown-toggle",data-toggle="dropdown") Action&nbsp;
                      span(class="caret")
                    ul(class="dropdown-menu")
                      li
                        a(href="#", data-show-login-modal="#login-modal") Action
                      li
                        a(href="#", data-ajax-delete-info='{"link": "json/delete-info.json", "combobox": "#input-2", "type":"internal"}', data-ajax-comfirm-delete='{"link": "alert-popup.html", "id":"#confirm-delete-info", "type":"internal"}') Action1
                      li
                        a(href="#") Action3
                td
              tr(data-item-info="")
                td(data-id="") 6
                td(data-name="") Table cell1f
                td 123 ABCD - Ho Chi Minh city
                td
                  .btn-group
                    button(type="button",class="btn btn-warning dropdown-toggle",data-toggle="dropdown") Action&nbsp;
                      span(class="caret")
                    ul(class="dropdown-menu")
                      li
                        a(href="#", data-show-login-modal="#login-modal") Action
                      li
                        a(href="#", data-ajax-delete-info='{"link": "json/delete-info.json", "combobox": "#input-2", "type":"internal"}', data-ajax-comfirm-delete='{"link": "alert-popup.html", "id":"#confirm-delete-info", "type":"internal"}') Action1
                      li
                        a(href="#") Action3
                td
      .modal-footer
        .row
          .col-sm-12.text-center
            +pagination(['1', '2', '3', '4', '5'])
