mixin navbar(menus)
	ul
		each menu, key in menus
			-var active = ''
			-if(menuIndex === key) active = 'active'
			li
				a(class= active,href = menu.link, title = menu.title)
					!=menu.text
				if (typeof(menu.itemsMenu) !== 'undefined')
					+navbar(menu.itemsMenu)
mixin customSelect(defaultTxt, clList, options)
	-var hasOptions = true
	- if(typeof(options) === 'undefined') hasOptions = false
	- if(typeof(defaultTxt) === 'undefined') defaultTxt = 'Select'
	.customSelect
		p 
			!=defaultTxt
		-if(hasOptions)
			ul(class=clList)
				each option in options
					li
						!=option