mixin sampleRoomCard()
  .summary.no-padding
    .picture
      +sampleImg()
    h3.name The King Room
    p.kind Loại phòng: 1 giường đôi
    p.facilities Wifi, Máy lạnh, TV, Ghế dài
  .description
    label Chi tiết
    .content
      p Diện tích khoảng 90m2, hướng rừng nhiệt đới. Tối đa 2 người lớn, kê được giường phụ
      p Diện tích 90m2 Hướng rừng nhiệt đới.
  .price Giá: 1,000,000 VND
  .quantity Số lượng: 50 phòng
  .btn-group
    button.btn.flat Xóa
    button.btn.flat Cập nhật
