.contentContainer {
	max-width: 1366px;
	margin: auto;
}
.hide {
	display: none !important;
	visibility: hidden !important;
}
img {
	max-width: 100%;
}
.fixedWidth1 {
	.clearfix();
	max-width: 1040px;
	margin: auto;
}
.fixedWidth2 {
	.clearfix();
	max-width: 1210px;
	margin: auto;
}