@import '~src/themes/quasar.variables.styl'
.container
  position relative
  margin auto
  padding 0 15px
  @media (min-width: $screen-sm-min)
    &
      width 750px
  @media (min-width: $screen-md-min)
    &
      width 970px
  @media (min-width: $screen-lg-min)
    &
      width 1170px
.mainHeader
  standardShadow()
  background-color: $primary
  padding: 0
  position: relative
  color: #fff
  h1
    font-size 1.45rem
    padding 15px
    margin 0
  ul.nav
    padding: 5px 15px 0px
    li
      display: inline-block
      padding: 0px
      position: relative
      a
        standardPadding()
        color: #FFF
        display: inline-block
        &.active,&:active,&:hover
          border-bottom: 1px solid $warning
        @media (min-width: $screen-sm-min)
          span
            padding: 0px
            &.fa
              position: absolute
              top: -5px
              left: calc(~'50% - 7px')
        @media (max-width: $screen-xs-max)
          span
            padding: 0px
            display: none
            &.fa
              display: inline-block
  #search 
    position: absolute
    top: 0px
    right: 0px
    padding: 0px 15px
    margin: 15px 0px
    width: 50%
    .input 
      border-bottom: 1px solid #FFF