<main class="hotel-container">
  <div class="main-content container">
    <form class="search-form" novalidate>
      <div class="control-group multiline">
        <q-select v-model="select" float-label="Thành Phố" :options="selectOptions"></q-select>
      </div>
      <div class="control-group multiline">
        <q-input v-model="text" float-label="Khách sạn"/>
      </div>
      <button class="btn btn-primary" @click="filteredList(mainList, $event)">Search</button>
    </form>
    <div class="hotels">
      <table class="truntcase">
        <thead>
          <tr>
            <td class="desc" style="width:45px;">ID</td>
            <td>Tên</td>
            <td style="width:125px;">Địa điểm</td>
            <td style="width:100px;">Tiêu chuẩn</td>
            <td style="width:100px;">Đánh giá</td>
            <td style="width:125px;">Giá thấp nhất</td>
            <td style="width:125px;">Giá cao nhất</td>
            <td style="width:85px;">Số phòng</td>
          </tr>
        </thead>
        <tbody>
          <list-hotel v-for="hotel in listHotels" :key="hotel.id" :hotel="hotel"/>
        </tbody>
      </table>
      <paginate :totalPages="totalPages" :result="result" :totalHotels="totalHotels" @changePage="setPage" />
    </div>
    <button class="default-action"></button>
  </div>
  <div class="modal-background" style="display:none;"></div>
  <div class="modal-dialog" id="add-hotel" style="display:none;">
    <div class="modal-title">
      <h2>Thêm khách sạn
      </h2>
    </div>
    <div class="model-content">
      <form class="hotel-form form-control">
        <div class="scrollable-content">
          <div class="control-group single-line">
            <label class="label">Tên khách sạn</label>
            <input class="input" type="text" value=""/>
          </div>
          <div class="control-group">
            <label class="label">Giới thiệu</label>
            <textarea class="input" id="editor1"></textarea>
          </div>
          <div class="control-group inline">
            <label class="label">Tỉnh/Thành Phố</label>
            <div class="select">
              <select class="input">
                <option>Hồ Chí Minh</option>
              </select>
            </div>
          </div>
          <div class="control-group inline">
            <label class="label">Quận/Huyện</label>
            <div class="select">
              <select class="input">
                <option>Bình Thạnh</option>
              </select>
            </div>
          </div>
          <div class="control-group single-line">
            <label class="label">Địa chỉ</label>
            <input class="input" type="text" value=""/>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn flat pull-right" onclick="hide('#add-hotel');return false;">Hủy</button>
          <button class="btn flat pull-right" onclick="hide('#add-hotel');return false;">Lưu</button>
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
</main>