header.mainHeader
  .container
    h1 Hotel Booking
    +form('search')
      div.control-group
        span.icon.right.fa.fa-search
        +input('input')
    +navbar([{'link': 'dashboard.html', 'title': 'Dashboard', 'text': 'Dashboard', 'class':'st', 'icon':'fa fa-tachometer'},{'link': 'customer.html', 'title': 'Khách hàng', 'text': 'Khách hàng', 'class':'st', 'icon':'fa fa-users'},{'link': 'hotel.html', 'title': 'Khách sạn', 'text': 'Khách sạn', 'class':'st', 'icon':'fa fa-bed'},{'link': 'rss.html', 'title': 'Tin tức', 'text': 'Tin tức', 'class':'st', 'icon':'fa fa-rss'},{'link': 'userManagement.html', 'title': 'Người dùng', 'text': 'Người dùng', 'class':'st', 'icon':'fa fa-users'},{'link': 'layoutManagement.html', 'title': 'Giao diện', 'text': 'Giao diện', 'class':'st', 'icon':'fa fa-columns'}])
