extends layouts/layout

block vars
  -title = 'Board Page'
  -bodyClass = 'company-board'
  -hasMenu = true
  -hasFooter = true
block container
  main#main
    .title-block
      a.btn.btn-danger.float-btn(href="dashboard.html", title="Go back") Go back
      .form-group.search-cards(data-search-card, data-url="data/searchCard.json", data-method="get", data-not-found-text="No results found", data-requirement-text="Enter a name")
        input.company-name.form-control(placeholder="Search card", name="search-card", data-input-autocomplete)
        .result-search.hide
          .list-result(data-list-result, data-get-detail, data-has-phase="true", data-download-text="View")
          span.show-more.hide Click to show more
      h2.title Company board
    .content-container
      .board-wrapper.menu-showed(data-toggle-target="menu-showed")
        .board-main-content
          .board-header
            h3.board-name(data-limit-word, data-line="1") A Faire A FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA FaireA Faire
            span.show-menu-btn(data-toggle-class) Show menu
            .create-modal.hide
              header
                p.inline Renommez la table
                span.icon-close(data-dismiss='modal')
              .form-group
                label Nom
                input.company-name.form-control
                button.create.disabled Renommez
          .board-canvas
            +listTask('A Faire', [], "1")
            +listTask('En cours', [], "2")
            +listTask('Terminé', [], "3")
        .board-menu
          header
            .show-menu
              p.inline Menu
              span.icon-close(data-toggle-class)
            .show-log
              span.icon-long-arrow-left
              p.inline Activity
              span.icon-close(data-close-popup)
          .block-menu-action
            .form-group(data-autocomplete-type)
              input.invite-member.form-control(placeholder="Invite", data-input-autocomplete)
              ul.list-users.hide(data-list-invitable, data-error-text="Sorry, we can't invite this user")
            .block-member(data-get-list, data-show-list="list-available", data-error-text="Sorry, we can't get this list user")
          .block-activities
            p.block-title 
              span.icon-activity
              | Activities
            .list-activities(data-board-activity, data-method="get", data-url="data/getActivitiesLog.json", data-translation={"addText":"Added","failText":"An error has occured: "}, data-limit=10, data-trigger-before=20)
    .create-modal.hide(data-affect='list')
      header
        p.inline Thao tác
          span.icon-close(data-dismiss='modal')
      .options
        p(data-action='add')
          | Thêm thẻ
        p(data-action='add')
          | Thêm thẻ
        p(data-action='add')
          | Thêm thẻ
    .create-modal.hide(data-target-popup='deleteMember', data-remove-user, data-error-text="Sorry, we can't delete this member")
      header
        p.inline Delete this member
        span.icon-close(data-close-popup)
      .form-group
        button.btn.btn-success(data-accept) Yes
        button.btn.btn-danger(data-close-popup) No
    .screen-overlay.hide(data-card-detail)
      .detail-modal(data-edit-card, data-edited-text="edited", data-download-text="View")
        header
          span.icon-news.icon-header
          textarea.card-detail-header(data-detail-name, data-fluid-height, data-min-rows="1", rows=1)
          div.subtitle.clearfix
            p.author
              span(data-phase-name) aaaaa
            div.location
              p.location-detail(data-location-detail)
              input.location-input.hide(name="location", placeholder="Enter location", data-location-input, data-method="get", data-url="data/addLocation.json", error-text="Sorry, we can't update location")
        .detail-container.clearfix
          .content-block
            .description-group
              h4.card-detail-header 
                | Description 
                span.subtitle(data-edit-description) edit...
              p.add-description.hide(data-edit-description)
                span.icon-descrip.icon-header
                | Add description...
              .card-content(data-card-description, data-edit-description)
              .edit-content.hide(data-target-edit)
                textarea.input-paragraph(data-fluid-height, rows=4, data-min-rows="4")
                .form-group
                  button.create(data-accept) Save
                  button.negative(data-close)
                    span.icon-close
            .attachment-group
              span.icon-attachment.icon-header
              h4.card-detail-header Attachment
              .list-files(data-list-attachments, data-url="data/update-card.json", data-method="get")
            .comment-group
              span.icon-comment.icon-header
              h4.card-detail-header Comment
              .comment-section
                span.member U1
                .form-group(data-comment, data-url="data/comment.json")
                  .comment-box
                    textarea.input-paragraph(data-fluid-height, rows=3, data-min-rows="3")
                    label(for="comment-attachment").icon-attachment
                    input#comment-attachment.hide(type="file", name="comment-attachment")
                    .comment-img.hide
                      img(alt="image comment preview", data-image-preview)
                  .comment-file.hide(data-file-name)
                    span.icon-close(data-remove-file)
                  button.create(data-accept) Save
            .activity-group
              span.icon-activity.icon-header
              h4.card-detail-header Activity
              .list-activities(data-list-activities, data-url-edit="data/edit-comment.json", data-url-delete="data/update-card.json", data-method-edit="get", data-method-delete="get")
          ul.action-block
            li(data-change-priority)
              span.icon-priority.card-action Priority
              ul.priority-opt.hide(data-list-priority, data-url="data/update-card.json")
                li(data-priority="2") High
                li(data-priority="1") Medium
                li(data-priority="0") Low
            li(data-card-attachment, data-method="get", data-url="data/addCardAttachment.json")
              label(for="card-attachment").icon-attachment.card-action Attachment
              input#card-attachment.hide(type="file", name="card-attachment")
            li
              span.icon-delete.card-action(data-card-delete) Delete Card
            // CHIEN EDIT 08/01/2018
            li
              span.icon-type.card-action(data-open-popup, data-target="cardType", data-set-pos="true", data-move-down="10", data-not-clear-input="true") Type
            // CHIEN EDIT 08/01/2018
            li.deadline(data-toggle="modal", data-target="#deadline-modal", data-deadline)
              span.icon-date.card-action Deadline
              .detail
                p.time
                  | Houre: 
                  span.hour 18:00
                p.time
                  | Date: 
                  span.date 2017-12-29
        #deadline-modal.confirm-modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal",aria-label="Close")
                  span(aria-hidden="true") ×
                h4.modal-title Select deadline
              .modal-body
                .text-errors.invalid.hide
                  .alert.alert-danger
                    a.close(data-hide-message,href="#") x
                    * Please follow the format.
                .text-errors.fail.hide
                  .alert.alert-danger
                    a.close(data-hide-message,href="#") x
                    * Something wrong happend.
                .form-group.control-group.clearfix
                  .col-md-2
                    label.control-label(for="finish-day") Date
                  .col-md-7
                    input#finish-day.form-control(name="date",data-datepicker,data-date-format="dd/mm/yy",placeholder="DD/MM/YYYY",data-valid-date="true",data-trigger-on-select={"selector": "#finish-day","evt":"change.validation"},required)
                    p.text-error *
                .form-group.control-group.clearfix
                  .col-md-2
                    label.control-label(for="finish-time") Heure
                  .col-md-7
                    input#finish-time.form-control(name="date",data-timespinner,data-time-type="true",placeholder="HH:MM",required)
                    p.text-error *
              .modal-footer.button-group-center
                a.btn.btn-success(data-accept, data-method="get") Ok
                a.btn.btn-danger(data-dismiss="modal") Cancel
        #invalid-file-modal.confirm-modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal",aria-label="Close")
                  span(aria-hidden="true") ×
                h4.modal-title In valid file
              .modal-body
                p Please upload one of these file type: .png, .jpeg, .jpg, ...
              .modal-footer
                a.btn.btn-success(data-dismiss="modal") Ok
        #error-file-modal.confirm-modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal",aria-label="Close")
                  span(aria-hidden="true") ×
                h4.modal-title Something wrong happened
              .modal-body
              .modal-footer
                a.btn.btn-success(data-dismiss="modal") Ok
        #delete-file-modal.confirm-modal.modal.fade(data-delete-card, data-method="get", data-url="data/update-card.json", data-error-text="Sorry, we can't delete this card")
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button",data-dismiss="modal",aria-label="Close")
                  span(aria-hidden="true") ×
                h4.modal-title Delete this card?
              .modal-footer.button-group-center
                a.btn.btn-success(data-delete) Yes
                a.btn.btn-danger(data-dismiss="modal") No
    #access-denied-modal.confirm-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal",aria-label="Close")
              span(aria-hidden="true") ×
            h4.modal-title You don't have permission for this action.
          .modal-footer.button-group-center
            a.btn.btn-success(data-dismiss="modal") Ok
    .create-modal.card-type-modal.hide(data-target-popup="cardType", data-error-text="Sorry, we can't delete this comment")
      header
        p.inline Select card type
        span.icon-close(data-close-popup)
      .form-group.control-group
        label(for="typeSelect").control-label Type
        .dropdown.dis-drop.open(data-card-type, data-method="get", data-active-item="true")
          input.form-control.card-type-input#typeSelect
          a.dropdown-toggle(href="#")
            span.caret
          ul.dropdown-menu.menu-scroll.hide(data-list-type)
            li(data-create-modifield)
              a(href="#", title="Créer/Modifier", data-toggle="modal", data-target="#card-type-modal") Créer/Modifier
      .form-group.control-group.button-group-center
        button.btn.btn-success(data-delete) Yes
        button.btn.btn-danger(data-close-popup) No
    // CHIEN EDIT 08/01/2018
    #card-type-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal",aria-label="Close")
              span(aria-hidden="true") ×
            .control-group
              h4.modal-title Card types
            .control-group.margin-1
              button.btn.btn-danger(data-toggle="modal", data-target="#modified-type-modal") Create
              .col-xs-5.form-group.pull-right.input-group.open(data-card-type, data-method="get")
                input.form-control.card-type-input
                ul.dropdown-menu.menu-scroll.hide(data-list-type)
                span.input-group-btn
                  button.btn.btn-default
                    span.glyphicon.glyphicon-search
          .modal-body
            .table-responsive
              table.table
                thead
                  tr
                    th Id
                    th Type
                    th Action
                tbody
                  tr
                    td 01
                    td Cleaning
                    td
                      .btn-group
                        button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown")
                          | Action&nbsp;
                          span.caret
                        ul.dropdown-menu
                          li
                            a(href="#", title="Modifier", data-toggle="modal", data-target="#modified-type-modal") Modifier
                          li
                            a Supprimer
                  tr
                    td 01
                    td Cleaning
                    td
                      .btn-group
                        button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown")
                          | Action&nbsp;
                          span.caret
                        ul.dropdown-menu
                          li
                            a Modifier
                          li
                            a Supprimer
                  tr
                    td 01
                    td Cleaning
                    td
                      .btn-group
                        button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown")
                          | Action&nbsp;
                          span.caret
                        ul.dropdown-menu
                          li
                            a Modifier
                          li
                            a Supprimer
                  tr
                    td 01
                    td Cleaning
                    td
                      .btn-group
                        button.btn.btn-warning.dropdown-toggle(data-toggle="dropdown")
                          | Action&nbsp;
                          span.caret
                        ul.dropdown-menu
                          li
                            a Modifier
                          li
                            a Supprimer
          .modal-footer.button-group-center
            ul.pagination
              li.active
                a(href="#",title="1") 1
              li
                a(href="#",title="2") 2
    #modified-type-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header.none-border
            button.close(data-dismiss="modal",aria-label="Close")
              span(aria-hidden="true") x
          .modal-body
            .form-group.control-group
              label(for="modified-card-type") Nom
              input.form-control#modified-card-type(placeholder="Enter card type")
          .modal-footer
            button.btn.btn-danger Mettre a jour
    // CHIEN EDIT 08/01/2018
    .create-modal.hide(data-target-popup, data-delete-comment, data-error-text="Sorry, we can't delete this comment")
      header
        p.inline Delete this comment
        span.icon-close(data-close-popup)
      .form-group
        button.btn.btn-success(data-delete) Yes
        button.btn.btn-danger(data-close-popup) No
    //- input(type='hidden', value='data/list-available-user.json')#get-available-user-link
    input(type='hidden', value='data/list-invitable-user.json')#get-user-link
    //- input(type='hidden', value='data/delete-member.json')#delete-member-link
    //- input(type='hidden', value='data/invite-user.json')#invite-member-link
    input(type='hidden', value='data/list-card.json')#get-cards-link
    input(type='hidden', value='data/create-card.json')#create-card-link
    input(type='hidden', value='data/card-detail.json')#get-card-detail
    input(type='hidden', value='data/update-card.json')#update-card-detail
    // CHIEN EDIT 08/01/2018
    input(type='hidden', value='data/list-card-type.json')#update-card-type
    // CHIEN EDIT 08/01/2018
    input(type='hidden', value='45')#board-id
    input(type='hidden', value=1)#is-admin