<div class="content-side main-content">
  <div class="row">
    <list-price v-for="(info, index) in listEventsPrices" @edit="edit" @drop="openDialog" :key="index" :info="info" :pos="index"/>
  </div>

  <md-dialog class="dialogPrice" md-open-from="#addPrice" md-close-to="#addPrice" ref="dialogPrice">
    <md-dialog-title>
      <!-- <q-input v-model="priceTitle" float-label="Float Label" /> -->
      <q-datetime-range format="DD-MM-YYYY" color="primary" v-model="rangeDate" :min="today" class="full-width" />
      <q-icon class="toggleMode" name="more_vert">
        <q-popover ref="toggleMode" class="changeList" @open="openPopover">
          <q-list link class="no-border">
            <q-item @click="switchView('event')">
              <span class="fa fa-calendar"></span>
              <q-item-main label="Khuyến mãi" />
            </q-item>
            <q-item @click="switchView('price')">
              <span class="fa fa-usd"></span>
              <q-item-main label="Thời giá" />
            </q-item>
            <q-item @click="switchView('both')">
              <q-item-main label="Tất cả" />
            </q-item>
          </q-list>
        </q-popover>
      </q-icon>
    </md-dialog-title>
    <md-dialog-content v-if="view !== both">
      <q-input v-if="view === price" v-model="priceDescription" type="textarea" float-label="Mô tả" :max-height="100" :min-rows="7" />
      <q-chips-input v-if="view === price" v-model="list_price_rooms" float-label="Áp dụng" v-show="!is_price_All_Checked"></q-chips-input>
      <q-checkbox v-if="view === price" v-model="is_price_All_Checked" label="Tất cả" />
      <q-input v-if="view === event" v-model="eventDescription" type="textarea" float-label="Mô tả" :max-height="100" :min-rows="7" />
      <q-chips-input v-if="view === event" v-model="list_event_rooms" float-label="Áp dụng" v-show="!is_event_All_Checked"></q-chips-input>
      <q-checkbox v-if="view === event" v-model="is_event_All_Checked" label="Tất cả" />
    </md-dialog-content>
    <md-dialog-content v-else>
      <q-input v-model="eventDescription" type="textarea" float-label="Mô tả khuyến mãi" :max-height="100" :min-rows="7" />
      <q-chips-input v-model="list_event_rooms" float-label="Áp dụng" v-show="!is_event_All_Checked"></q-chips-input>
      <q-checkbox v-model="is_event_All_Checked" label="Tất cả" />
      <q-input v-model="priceDescription" type="textarea" float-label="Mô tả thời giá" :max-height="100" :min-rows="7" />
      <q-chips-input v-model="list_price_rooms" float-label="Áp dụng" v-show="!is_price_All_Checked"></q-chips-input>
      <q-checkbox v-model="is_price_All_Checked" label="Tất cả" />
    </md-dialog-content>
  
    <md-dialog-actions>
      <md-button class="md-primary" @click="closeDialog('dialogPrice')">Cancel</md-button>
      <md-button class="md-primary" @click="save('dialogPrice')">Ok</md-button>
    </md-dialog-actions>
  </md-dialog>
  <md-dialog class="dialogErase" ref="dialogErase">
    <md-dialog-title>
      Bạn muốn xóa thông tin thời giá này
    </md-dialog-title>
    <md-dialog-actions>
      <md-button class="md-primary" @click="closeDialog('dialogErase')">No</md-button>
      <md-button class="md-primary" @click="erase">Yes</md-button>
    </md-dialog-actions>
  </md-dialog>
  <button id="addPrice" class="default-action" @click="openDialog('dialogPrice')"></button>
</div>

