@import '~src/themes/quasar.variables.styl'
.dialogPrice
  .md-dialog
    max-width 560px
.q-datetime-range-left
  margin-right 30px
.q-datetime-input
  min-width 150px
.first
  .q-item:first-child
    background-color $primary
    color #fff
.second
  .q-item:nth-child(2)
    background-color $primary
    color #fff
.third
  .q-item:nth-child(3)
    background-color $primary
    color #fff