<main class="hotel-container">
  <div class="left-side">
    <ul class="menu">
      <ul class="menu">
        <li class="menu-item "><a href="hotel-summary.html" title="Thông tin chung"><span class="menu-icon fa fa-home"></span><span class="menu-title">Thông tin chung</span></a></li>
        <li class="menu-item "><a href="hotel-room.html" title="Thông tin phòng"><span class="menu-icon fa fa-bed"></span><span class="menu-title">Thông tin phòng</span></a></li>
        <li class="menu-item active"><a href="hotel-event.html" title="Khuyễn mãi"><span class="menu-icon fa fa-calendar"></span><span class="menu-title">Khuyễn mãi</span></a></li>
        <li class="menu-item "><a href="hotel-price.html" title="Thời giá"><span class="menu-icon fa fa-usd"></span><span class="menu-title">Thời giá</span></a></li>
      </ul>
    </ul>
  </div>
  <div class="content-side main-content">
    <form class="block-event search-form control-form">
      <div class="default-action"></div>
      <div class="control-group">
        <label class="time">Từ</label>
        <input class="date-picker input" type="text" name="from" data-time-picker><span class="fa fa-calendar" data-icon-picker></span>
      </div>
      <div class="control-group">
        <label class="time">Đến</label>
        <input class="date-picker input" type="text" name="to" data-time-picker><span class="fa fa-calendar" data-icon-picker></span>
      </div>
      <button class="btn flat" type="submit">Tìm</button>
    </form>
    <div class="block-event block-group">
      <div class="block-content rich-text">
        <h2>Từ 12/10/2017 đến 16/11/2017 Giảm 40%</h2><span>1 lần</span>
        <p>Đặt 01 đêm - Đón sân bay + Tặng voucher ẩm thực 500.000 vnđ/ 02 đêm - Đưa đón sân bay + 01 bữa tối - Miễn phí nâng
          cấp hạng phòng (tháng 9-12)</p>
        <p>Áp dụng: Tất cả phòng</p>
      </div>
      <div class="block-action"><a class="fa fa-edit" href="userManagement-Edit.html" title="Edit"></a><a class="fa fa-trash" href="#" title="Block"></a></div>
    </div>
    <div class="block-event block-group">
      <div class="block-content rich-text">
        <h2>Từ 12/10/2017 đến 16/11/2017 Giảm 10%</h2><span>Hàng năm</span>
        <p>Đặt 01 đêm - Đón sân bay + Tặng voucher ẩm thực 500.000 vnđ/ 02 đêm - Đưa đón sân bay + 01 bữa tối - Miễn phí nâng
          cấp hạng phòng (tháng 9-12)</p>
        <p>Áp dụng: The King Room</p>
      </div>
      <div class="block-action"><a class="fa fa-edit" href="userManagement-Edit.html" title="Edit"></a><a class="fa fa-trash" href="#" title="Block"></a></div>
    </div>
  </div>
</main>